@model TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Models.RegistrationCreateViewModel

@{ ViewBag.Title = "Create"; }

@section Styles
{
    <link rel="stylesheet" href="~/Content/App/Registration/Create.css" type="text/css" />
}

@Html.AntiForgeryToken()

<section class="container registration-create-page">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

            <div class="panel panel-default registration-panel">
                <section class="panel-heading">
                    <h3 class="panel-title">
                        Create Registration Entry
                    </h3>
                </section>

                @using (Html.BeginForm(
                    null,
                    null,
                    FormMethod.Post,
                    new
                    {
                        id = Model.RegistrationRequest.Id,  
                        @class = "form-horizontal",
                        role = "form"
                    })
                )
                {
                    @Html.AntiForgeryToken()

                    <section class="panel-body">
                        <div class="registration-stepper center-text">
                            <div class="row">
                                <div class="col-xs-6 step-item active-step">
                                    <i class="fa fa-user-plus"></i>
                                    <div>Account Information</div>
                                </div>
                                <div class="col-xs-6 step-item">
                                    <i class="fa fa-check-circle-o"></i>
                                    <div>Done</div>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" style="width: 50%;"></div>
                            </div>
                        </div>

                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                @Html.ValidationSummary(true)
                            </div>
                        }

                       @* Account type selection *@ 
                        <section class="form-section">
                            <h4 class="form-section-title">Account Type</h4>
                            <div class="well flex-row flex-wrap flex-space-between account-type-well">
                                <div>
                                    <label>
                                        @Html.RadioButtonFor(i => i.AccountType, "Administrator", new { required = "required" })
                                        <strong>Administrator</strong>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        @Html.RadioButtonFor(i => i.AccountType, "IT", new { required = "required" })
                                        <strong>IT</strong>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        @Html.RadioButtonFor(i => i.AccountType, "Standard User", new { required = "required" })
                                        <strong>Standard User</strong>
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(model => model.AccountType)
                            </div>
                        </section>

                        <section class="form-section">
                            <h4 class="form-section-title">Account Information</h4>

                            <div class="row">
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">First Name</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.FirstName, new { Value = Model.RegistrationRequest.FirstName, @class = "form-control text-uppercase", required = "required" })
                                            @Html.ValidationMessageFor(model => model.FirstName)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Middle Name</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.MiddleName, new { Value = Model.RegistrationRequest.MiddleName, @class = "form-control text-uppercase" })
                                            @Html.ValidationMessageFor(model => model.MiddleName)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Last Name</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.LastName, new { Value = Model.RegistrationRequest.LastName, @class = "form-control text-uppercase", required = "required" })
                                            @Html.ValidationMessageFor(model => model.LastName)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Email Address</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.Email, new { Value = Model.RegistrationRequest.Email, @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Contact Number</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.ContactNumber, new { Value = Model.RegistrationRequest.ContactNumber, @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.ContactNumber)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Expiry Date</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.ExpiryDate, new { type = "date", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ExpiryDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>

                    <section class="panel-footer clearfix flex-row-reverse flex-wrap">
                        <button type="submit" class="btn btn-primary">
                            Next Step <i class="fa fa-arrow-right"></i>
                        </button>

                        <button id="deny_registration_request_button" type="button" class="btn btn-danger">
                            Deny <i class="fa fa-arrow-right"></i>
                        </button>
                    </section>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        const registrationRequestId = "@Model.RegistrationRequest.Id";
        const denyUrl = "@Url.Action("DenyRegistration", "Registration")";
        const denyRedirectUrl = "@Url.Action("Index", "RegistrationRequest")";
    </script>

    <script src="~/Scripts/App/Registration/DenyRegistration.js" defer></script>
}