@model TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Models.RegistrationDetailsViewModel
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Enumerables
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Core

@{
    ViewBag.Title = "Details";

    var currentUser = ViewBag.CurrentUser as UserSession;
    var isCurrentUser = currentUser.Id == Model.User.Id ? true : false;
    var currentUserPrivilegeIds = currentUser.PrivilegeIds;

    var fullName = Model.User.FirstName + ' ' + Model.User.MiddleName + ' ' + Model.User.LastName;
    var statusName = "N/A";
    if (Model.User.IsActive)
    {
        statusName = "ACTIVE";
    }
    else if (Model.UserRegistrationRequest.IsDenied)
    {
        statusName = "DENIED";
    }
    else if (Model.User.DeactivatedByRegistrationId != null ||
        Model.User.DeactivatedByRegistrationId == 0)
    {
        statusName = "DEACTIVATED";
    }
}

@section Styles {
    <link rel="stylesheet" href="~/Content/App/Registration/Details.css" type="text/css" />
}

<section class="container registration-details-page">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-default content-panel bg-light">
                <section class="panel-heading profile-header flex-row flex-wrap">
                    <img src="~/Content/Images/logo.png" height="40" />

                    <div>
                        <h4 class="profile-name">@fullName</h4>
                        @*<hr class="text-primary"/>*@
                        <p class="registration-id light-text">Registration ID: @Model.User.Id</p>
                    </div>
                </section>

                <section class="panel-body">
                    <section class="details-section">
                        <div class="section-header">
                            <h4>
                                <i class="glyphicon glyphicon-user"></i>
                                GENERAL INFORMATION
                            </h4>
                        </div>

                        <section class="section-table-container table-responsive">
                            <table class="section-table table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="light-text text-primary first-col active">FIRST NAME</td>
                                        <td class="text-primary bold-text">@Model.User.FirstName</td>
                                    </tr>
                                    <tr>
                                        <td class="light-text text-primary active first-col">MIDDLE NAME</td>
                                        <td class="text-primary bold-text">
                                            @(!string.IsNullOrWhiteSpace(Model.User.MiddleName) ? Model.User.MiddleName : "N/A")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="light-text text-primary active first-col">LAST NAME</td>
                                        <td class="text-primary bold-text">@Model.User.LastName</td>
                                    </tr>
                                    <tr>
                                        <td class="light-text text-primary active first-col">EMAIL ADDRESS</td>
                                        <td class="text-primary bold-text">@Model.User.Email</td>
                                    </tr>
                                    <tr>
                                        <td class="light-text text-primary active first-col">CONTACT NUMBER</td>
                                        <td class="text-primary bold-text">@Model.User.ContactNumber</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </section>

                    <section class="details-section">
                        <div class="section-header">
                            <h4>
                                <i class="glyphicon glyphicon-lock"></i>
                                PRIVILEGES
                            </h4>
                        </div>

                        <section class="section-table-container table-responsive">
                            <table class="section-table table table-bordered">
                                <tbody>
                                    @{ var localCounter = 1; }
                                    @foreach (var privilege in Model.UserPrivileges)
                                    {
                                        <tr>
                                            <td class="first-col active">@(localCounter++)</td>
                                            <td class="text-primary bold-text">@privilege.Privilege.PrivilegeName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </section>
                    </section>

                    <section class="details-section">
                        <div class="section-header">
                            <h4 class="section-heading-title">
                                <i class="glyphicon glyphicon-file"></i>
                                REGISTRATION INFORMATION
                            </h4>
                        </div>

                        <section class="section-table-container table-responsive">
                            <table class="section-table table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="light-text text-primary active first-col">STATUS</td>
                                        <td class="text-primary bold-text">
                                            <span class="label @(statusName == "ACTIVE" ? "label-success" : statusName == "DENIED" ? "label-danger" : "label-default")">
                                                @statusName
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="light-text text-primary active first-col">DATE</td>
                                        <td class="text-primary bold-text">
                                            @(Model.UserRegistrationRequest.RequestDate.HasValue
                                                ? Model.UserRegistrationRequest.RequestDate.Value.ToString("MMMM dd, yyyy hh:mm tt")
                                                : "N/A")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="light-text text-primary active first-col">EXPIRY</td>
                                        <td class="text-primary bold-text">
                                            @(Model.User.ExpiryDate.HasValue
                                                ? Model.User.ExpiryDate.Value.ToString("MMMM dd, yyyy hh:mm tt")
                                                : "N/A")
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </section>
                </section>

                @if (AccountTypeEnum.IsAdmin(currentUserPrivilegeIds) || AccountTypeEnum.IsIT(currentUserPrivilegeIds))
                {
                    <section class="panel-footer management-buttons-container">
                        <p class="text-primary options-label light-text text-right">More Options</p>

                        <div class="buttons-container flex-row flex-child-end-v">
                            @if (isCurrentUser && AccountTypeEnum.IsIT(currentUserPrivilegeIds))
                            {
                                <a id="block_dates_button" href="@Url.Action("Manage", "ITAvailability")" class="btn btn-warning btn-sm center-child">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    MANAGE AVAILABILITY
                                </a>
                            }

                            @if (AccountTypeEnum.IsAdmin(currentUserPrivilegeIds))
                            {
                                Html.RenderPartial("~/Views/Registration/Partial/_ManagePrivilegeModal.cshtml", Model.User);

                                <button id="manage_privilege_button" type="button" class="btn btn-default btn-sm center-child" data-toggle="modal" data-target="#manage_privilege_modal">
                                    <i class="glyphicon glyphicon-lock"></i>
                                    MANAGE PRIVILEGES
                                </button>

                                <a id="deactivate_user_button" href="@Url.Action("Deactivate", "Registration", new { id = Model.User.Id })" class="btn btn-danger btn-sm center-child">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    DEACTIVATE USER
                                </a>
                            }
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
</section>
