@model TECHNICAL_SERVICE_REQUEST.Models.EquipmentDetailsViewModel
@using System.Linq
@using TECHNICAL_SERVICE_REQUEST.Core
@using TECHNICAL_SERVICE_REQUEST.Enumerables
@using TECHNICAL_SERVICE_REQUEST.Utilities
@using TECHNICAL_SERVICE_REQUEST.Services

@{
    ViewBag.Title = "Details";

    var currentUser = ViewBag.CurrentUser as AppUserSession;
    var isAdmin = AppUserRoleEnum.IsAdmin(currentUser.RoleId);
    var isIT = AppUserRoleEnum.IsIT(currentUser.RoleId);

    // Equipment Information
    var id = Model.Id.ToString();
    var assetTag = (new EquipmentService()).NormalizeAssetTag(Model.AssetTag);
    var modelName = Model.Model.Trim().ToUpperInvariant();
    var typeName = Model.TypeId > 0
        ? EquipmentTypeEnum.DisplayName(Model.TypeId)
        : "N/A";
    var statusId = Model.StatusId;
    var statusName = statusId > 0
        ? EquipmentStatusEnum.DisplayName(Model.StatusId)
        : "N/A";
    var buildingNumber = Model.BuildingNumber.GetValueOrDefault() > 0
        ? Model.BuildingNumber.ToString()
        : "N/A";
    var floorNumber = Model.FloorNumber.GetValueOrDefault() > 0
        ? Model.FloorNumber.Value.ToString()
        : "N/A";
    var office = !string.IsNullOrWhiteSpace(Model.Office)
        ? Model.Office
        : "N/A";
    var repairCount = Model.RepairCount.ToString();
    var createdBy = GeneralUtilities.CreateFullName(
        Model.CreatedByFirstName,
        Model.CreatedByLastName,
        Model.CreatedByMiddleName,
        Model.CreatedByExtensionName
    ).ToUpperInvariant();
    if (string.IsNullOrWhiteSpace(createdBy))
    {
        createdBy = "N/A";
    }

    var castedModel = (new EquipmentService()).ToEquipmentFormViewModel(Model);

    Func<int, string> getStatusLabelClass = (status) =>
    {
        switch (status)
        {
            case EquipmentStatusEnum.OPERATIONAL:
                return "label label-info status-label";
            case EquipmentStatusEnum.UNDER_REPAIR:
                return "label label-danger status-label";
            case EquipmentStatusEnum.FOR_DISPOSAL:
                return "label label-warning status-label";
            default:
                return "label label-default status-label";
        }
    };
}

@section Styles {
    <link rel="stylesheet" href="~/Content/App/Equipment/Details.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/App/Equipment/CreateEditForm.css" type="text/css" />
}

<section class="center-child equipment-details-page">
    <div class="panel panel-default content-panel bg-light">

        <section class="panel-heading profile-header flex-row flex-space-between flex-child-center-h">
            <div class="profile-main flex-row flex-child-center-h">

                <div>
                    @* Asset Tag / Model *@
                    <div class="profile-title-row flex-row flex-child-center-h flex-wrap">
                        <h4 class="profile-name">
                            <span class="asset-tag">@assetTag</span> - <span class="model">@modelName</span>
                        </h4>

                        @* Id *@
                        <span class="registration-id-chip light-text">ID: @id</span>
                    </div>

                </div>
            </div>
        </section>

        <section class="panel-body">
            <section class="details-section">
                <div class="section-header">
                    <h4 class="text-primary">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        GENERAL INFORMATION
                    </h4>
                </div>

                <div class="detail-grid detail-grid-3">
                    @* Asset Tag *@
                    <div class="detail-item">
                        <p class="detail-label">ASSET TAG</p>
                        <p class="asset-tag detail-value">@assetTag</p>
                    </div>

                    @* Model *@
                    <div class="detail-item">
                        <p class="detail-label">MODEL</p>
                        <p class="model detail-value">@modelName</p>
                    </div>

                    @* Type *@
                    <div class="detail-item">
                        <p class="detail-label">TYPE</p>
                        <p class="equipment-type detail-value">
                            <span class="label label-success">@typeName</span>
                        </p>
                    </div>
                </div>
            </section>

            <section class="details-section">
                <div class="section-header">
                    <h4 class="text-primary">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        LOCATION INFORMATION
                    </h4>
                </div>

                <div class="detail-grid detail-grid-3">
                    @* Building Number *@
                    <div class="detail-item">
                        <p class="detail-label">BUILDING NUMBER</p>
                        <p class="building-number detail-value">@buildingNumber</p>
                    </div>

                    @* Floor Number *@
                    <div class="detail-item">
                        <p class="detail-label">FLOOR NUMBER</p>
                        <p class="floor-number detail-value">@floorNumber</p>
                    </div>

                    @* Office *@
                    <div class="detail-item">
                        <p class="detail-label">OFFICE</p>
                        <p class="office detail-value">@office</p>
                    </div>
                </div>
            </section>

            <section class="details-section">
                <div class="section-header">
                    <h4 class="text-primary">
                        <i class="glyphicon glyphicon-file"></i>
                        RECORD INFORMATION
                    </h4>
                </div>

                <div class="detail-grid detail-grid-2">
                    @* Status *@
                    <div class="detail-item">
                        <p class="detail-label">STATUS</p>
                        <p class="equipment-status detail-value">
                            <span class="@getStatusLabelClass(statusId)">@statusName</span>
                        </p>
                    </div>

                    @* Repair Count *@
                    <div class="detail-item">
                        <p class="detail-label">REPAIR COUNT</p>
                        <p class="repair-count detail-value">@repairCount</p>
                    </div>

                    @* Created By *@
                    <div class="detail-item">
                        <p class="detail-label">CREATED BY</p>
                        <p class="detail-value">@createdBy</p>
                    </div>
                </div>
            </section>
        </section>

        @if (isAdmin || isIT)
        {
            // Edito Button
            <section class="panel-footer management-buttons-container flex-row-reverse flex-col">
                <p class="text-primary options-label light-text bold-text">More Options</p>

                @Html.Partial(
                    "~/Views/Equipment/Partial/_EditEntryModal.cshtml",
                    castedModel
                )

                <button id="edit_equipment_entry_button"
                        class="btn btn-info"
                        type="button"
                        data-toggle="modal"
                        data-target="#edit_equipment_entry_modal">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Edit Entry
                </button>
            </section>
        }
    </div>
</section>

@section Scripts {
    <script>
        const currentEquipmentId = parseInt("@Model.Id", 10);
    </script>
    <script src="~/Scripts/App/Equipment/LiveReloadDetailsInfo.js" defer></script>
}
