@using TECHNICAL_SERVICE_REQUEST.Enumerables
@using TECHNICAL_SERVICE_REQUEST.Core
@using TECHNICAL_SERVICE_REQUEST.Models

@{
    ViewBag.Title = "List";
    var currentUser = ViewBag.CurrentUser as AppUserSession;
    var isStandard = AppUserRoleEnum.IsStandard(currentUser.RoleId);
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/App/Equipment/Index.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/App/Equipment/CreateEditForm.css" type="text/css" />
}

<section class="container equipment-index-page flex-row flex-child-center-v">
    <div class="panel panel-default">

        <section class="panel-heading">
            <strong>
                Equipments
            </strong>
        </section>

        <section class="panel-body">
            <section class="flex-row @(isStandard ? "flex-row-reverse" : "flex-space-between")">
                @if (!isStandard)
                {
                    <section>
                        @Html.Partial(
                                 "~/Views/Equipment/Partial/_CreateEntryModal.cshtml",
                                 new EquipmentFormViewModel()
                             )

                        <button id="create_equipment_entry_button"
                                class="btn btn-info"
                                type="button"
                                data-toggle="modal"
                                data-target="#create_equipment_entry_modal">
                            <i class="glyphicon glyphicon-plus"></i>
                            Create New Entry
                        </button>
                    </section>
                }

                <section class="filter-selection-container">
                    @* Status Filter *@
                    <div class="filter-selection">
                        <label for="status_filter">Status:</label>
                        @Html.DropDownList(
                            "status_filter",
                            EquipmentStatusEnum.GetSelectListItems(),
                            "All"
                        )
                    </div>

                    @* Type Filter *@
                    <div class="filter-selection">
                        <label for="type_filter">Type:</label>
                        @Html.DropDownList(
                            "type_filter",
                            EquipmentTypeEnum.GetSelectListItems(),
                            "All"
                       )
                    </div>
                </section>
            </section>

            <div class="table-responsive">
                <table id="equipment_table" class="tablesort table table-striped table-bordered">

                    <thead>
                        <tr>
                            <th></th>
                            <th class="asset-tag">
                                Asset Tag
                            </th>
                            <th class="model">
                                Model Name
                            </th>
                            <th class="type">
                                Type
                            </th>
                            <th class="status">
                                Status
                            </th>
                            <th class="repair-count">
                                Repair Count
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>

                </table>
            </div>
        </section>

    </div>

</section>

@section Scripts {
    <script>
        const userId = parseInt("@currentUser.Id", 10);
        const requestUrl = "@Url.Action("GetEquipment", "Equipment")";
    </script>

    <script src="~/Scripts/App/Equipment/InitializeListingDataTable.js" defer></script>
}



