@model TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Models.TechnicalServiceRequestFormViewModel
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Enumerables
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Utilities

@{ ViewBag.Title = "Form"; }

@section Styles {
    <link rel="stylesheet" href="~/Content/App/TechnicalServiceRequest/Form.css" type="text/css" />
}

<section class="tsr-form-page-container container bg-light">

    @* Form *@
    <section class="container tsr-form flex-col flex-child-start-h">

        @* Heading *@
        <section>
            <table class="tsr-form-heading tsr-form-table table table-bordered">
                <tbody>

                    <tr>
                        <td rowspan="3" class="logo">
                            <img src="~/Content/Images/logo.png" alt="DOH Logo" title="DOH Logo" width="90" />
                        </td>
                    </tr>

                    <tr>
                        <th class="heading-text">
                            Information Communications Technology Management Section
                        </th>

                        <td>

                            <table class="upper nested-table table">
                                <tbody>
                                    <tr>
                                        <td>Page No.</td>
                                        <td class="text-center">Page 1 of 1</td>
                                    </tr>

                                    <tr>
                                        <td>Revision No.</td>
                                        <td class="text-center">2</td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <th class="heading-text">
                            Technical Service Request Form
                        </th>

                        <td>

                            <table class="lower nested-table table">
                                <tbody>
                                    <tr>
                                        <td>Effectivity:</td>
                                        <td class="text-center">March 1, 2026</td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>

                </tbody>
            </table>
        </section>

        @* Client Information *@
        <section class="tsr-form-client-info flex-col">

            <div class="tsr-form-meta-info flex-row flex-space-between">
                <section>
                    <p class="inline">Reference Code: </p>
                    <p class="inline">
                        <u>@Model.TechnicalServiceRequest.ReferenceCode</u>
                    </p>
                </section>

                <section>
                    <p class="inline">Date Of Request(mm/dd/yyyy): </p>
                    <p class="inline">
                        @if (Model.TechnicalServiceRequest.DateRequest.HasValue)
                        {
                            <u>@Model.TechnicalServiceRequest.DateRequest.Value.ToString("MM/dd/yyyy")</u>
                        }
                        else
                        {
                            <u>Unknown Date</u>
                        }
                    </p>
                </section>
            </div>

            @* Table *@
            <div class="tsr-form-client-info-table ">

                <table class="tsr-form-table table table-bordered">
                    <tbody>

                        <tr>
                            <th colspan="4">
                                CLIENT INFORMATION
                            </th>
                        </tr>

                        <tr>
                            <td class="row-label">Name:</td>

                            <td colspan="3">
                                <div class="name-row-content">
                                    <div class="name-row">
                                        <p>@Model.TechnicalServiceRequest.ClientRegistration.LastName</p>
                                        <p>@Model.TechnicalServiceRequest.ClientRegistration.FirstName</p>
                                        @if (!string.IsNullOrEmpty(Model.TechnicalServiceRequest.ClientRegistration.MiddleName))
                                        {
                                            <p>@Model.TechnicalServiceRequest.ClientRegistration.MiddleName[0]</p>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.TechnicalServiceRequest.ClientRegistration.ExtensionName))
                                        {
                                            <p>@Model.TechnicalServiceRequest.ClientRegistration.ExtensionName</p>
                                        }
                                    </div>

                                    <div class="name-row">
                                        <p>Last Name</p>
                                        <p>First Name</p>
                                        <p>Middle Initial</p>
                                        <p>Ext.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="row-label">Office:</td>
                            <td colspan="3">@Model.TechnicalServiceRequest.ClientRegistration.Office</td>
                        </tr>

                        <tr>
                            <td class="row-label">Position:</td>
                            <td colspan="3">@Model.TechnicalServiceRequest.ClientRegistration.Position</td>
                        </tr>

                        <tr>
                            <td class="row-label">Contact No:</td>
                            <td>@Model.TechnicalServiceRequest.ClientRegistration.ContactNumber</td>

                            <td class="row-label">Email Address:</td>
                            <td>@Model.TechnicalServiceRequest.ClientRegistration.Email</td>
                        </tr>

                        <tr></tr>
                    </tbody>
                </table>

            </div>

        </section>

        @* Technical Services *@
        @{
            var selectedType = Model.TechnicalServiceRequest.TechnicalServiceTypeId;

            var isOthers = !string.IsNullOrEmpty(Model.TechnicalServiceRequest.Others) ||
                            selectedType == TechnicalServiceTypeEnum.ACCOUNT_CREATION ||
                            selectedType == TechnicalServiceTypeEnum.PASSWORD_ACCESS_ISSUE ||
                            selectedType == TechnicalServiceTypeEnum.DATA_CORRECTION ||
                            selectedType == TechnicalServiceTypeEnum.TECHNICAL_GUIDANCE ||
                            selectedType == TechnicalServiceTypeEnum.PRODUCTION_MATERIAL_PRINTING;
        }

        @* Technical Services *@
        <section>
            <table class="tsr-form-technical-services tsr-form-table table table-bordered">
                <tbody>
                    <tr>
                        <th colspan="3">
                            TECHNICAL SERVICES
                            <i class="light-text">(Check services that may apply)</i>
                        </th>
                    </tr>

                    <tr>
                        <td>
                            <form class="tsr-form-technical-checkbox-form flex-row flex-child-center-h">
                                <input type="checkbox"
                                       id="equipment_repair_troubleshooting"
                                       name="equipment_repair_troubleshooting"
                                       @(TechnicalServiceTypeEnum.EQUIPMENT_REPAIR_TROUBLESHOOTING == selectedType ? "checked" : "")
                                       disabled />
                                <label for="equipment_repair_troubleshooting" class="text-nowrap">Equipment Repair / Troubleshooting</label>
                            </form>
                        </td>

                        <td>
                            <form class="tsr-form-technical-checkbox-form flex-row flex-child-center-h">
                                <input type="checkbox"
                                       id="audio_video_setup"
                                       name="audio_video_setup"
                                       @(TechnicalServiceTypeEnum.AUDIO_VISUAL_SETUP == selectedType ? "checked" : "")
                                       disabled />
                                <label for="audio_video_setup">Audio / Video Setup</label>
                            </form>
                        </td>

                        <td>
                            <form class="tsr-form-technical-checkbox-form flex-row flex-child-center-h">
                                <input type="checkbox"
                                       id="livestream_setup"
                                       name="livestream_setup"
                                       @(TechnicalServiceTypeEnum.LIVESTREAM_SETUP == selectedType ? "checked" : "")
                                       disabled />
                                <label for="livestream_setup">Livestream Setup</label>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <form class="tsr-form-technical-checkbox-form flex-row flex-child-center-h">
                                <input type="checkbox"
                                       id="zoom_webex_link"
                                       name="zoom_webex_link"
                                       @(TechnicalServiceTypeEnum.ZOOM_WEBEX_LINK == selectedType ? "checked" : "")
                                       disabled />
                                <label for="zoom_webex_link">Zoom / Webex Link</label>
                            </form>
                        </td>

                        <td>
                            <form class="tsr-form-technical-checkbox-form flex-row flex-child-center-h">
                                <input type="checkbox"
                                       id="internet_connectivity"
                                       name="internet_connectivity"
                                       @(TechnicalServiceTypeEnum.INTERNET_CONNECTIVITY == selectedType ? "checked" : "")
                                       disabled />
                                <label for="internet_connectivity">Internet Connectivity</label>
                            </form>
                        </td>

                        <td>
                            <form class="tsr-form-technical-checkbox-form flex-row flex-child-center-h">
                                <input type="checkbox"
                                       id="system_support"
                                       name="system_support"
                                       @(TechnicalServiceTypeEnum.SYSTEM_SUPPORT == selectedType ? "checked" : "")
                                       disabled />
                                <label for="system_support">System Support</label>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <form class="tsr-form-technical-checkbox-form flex-row flex-child-center-h">
                                <input type="checkbox"
                                       id="government_email_account"
                                       name="government_email_account"
                                       @(TechnicalServiceTypeEnum.GOVERNMENT_EMAIL_ACCOUNT == selectedType ? "checked" : "")
                                       disabled />
                                <label for="government_email_account">Government Email / Account</label>
                            </form>
                        </td>

                        <td colspan="2">
                            <form class="tsr-form-technical-checkbox-form flex-row flex-child-center-h">
                                <input type="checkbox"
                                       id="others"
                                       name="others"
                                       @(isOthers ? "checked" : "")
                                       disabled />
                                <label for="others">Others: </label>
                                @if (isOthers)
                                {
                                    <p class="inline">
                                        @if (selectedType == TechnicalServiceTypeEnum.ACCOUNT_CREATION)
                                        {
                                            @TechnicalServiceTypeEnum.DisplayName(
                                                TechnicalServiceTypeEnum.ACCOUNT_CREATION
                                            );
                                        }
                                        else if (selectedType == TechnicalServiceTypeEnum.PASSWORD_ACCESS_ISSUE)
                                        {
                                            @TechnicalServiceTypeEnum.DisplayName(
                                                TechnicalServiceTypeEnum.PASSWORD_ACCESS_ISSUE
                                            );
                                        }
                                        else if (selectedType == TechnicalServiceTypeEnum.DATA_CORRECTION)
                                        {
                                            @TechnicalServiceTypeEnum.DisplayName(
                                                TechnicalServiceTypeEnum.DATA_CORRECTION
                                            );
                                        }
                                        else if (selectedType == TechnicalServiceTypeEnum.TECHNICAL_GUIDANCE)
                                        {
                                            @TechnicalServiceTypeEnum.DisplayName(
                                                TechnicalServiceTypeEnum.TECHNICAL_GUIDANCE
                                            );
                                        }
                                        else if (selectedType == TechnicalServiceTypeEnum.PRODUCTION_MATERIAL_PRINTING)
                                        {
                                            @TechnicalServiceTypeEnum.DisplayName(
                                                TechnicalServiceTypeEnum.PRODUCTION_MATERIAL_PRINTING
                                            );
                                        }
                                        else
                                        {
                                            @Model.TechnicalServiceRequest.Others
                                        }
                                    </p>
                                }
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"></td>
                    </tr>

                </tbody>
            </table>
        </section>

        @* Signatures *@
        <section>
            <table class="tsr-form-table table table-bordered">
                <tbody>
                    <tr>
                        <th>
                            SIGNATURE OF THE EMPLOYEE
                        </th>

                        <th>
                            APPROVED  BY:
                        </th>
                    </tr>

                    <tr>
                        <td class="tsr-form-signatures-body">
                            <div class="flex-col flex-child-end-v flex-child-center-h">
                                <p class="center-text">Signature</p>
                            </div>
                        </td>

                        <td class="tsr-form-signatures-body">
                            <div class="flex-col flex-child-end-v flex-child-center-h">
                                <p class="center-text">Name and Signature of Office Head</p>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </section>

        @* ICT Section *@
        <section>
            <table class="tsr-form-ict-section table table-bordered">

                <tbody>

                    <tr>
                        <th colspan="2" class="center-text">
                            (FOR INFORMATION COMMUNICATIONS TECHNOLOGY MANAGEMENT SECTION only)
                        </th>
                    </tr>

                    <tr>
                        <td>
                            <p>
                                Date Received (mm/dd/yyyy):
                                @if (Model.TechnicalServiceRequest.DateReceived.HasValue)
                                {
                                    @Model.TechnicalServiceRequest.DateReceived.Value.ToString("MM/dd/yyyy")
                                }
                                else
                                {
                                    @:Unknown Date
                                }
                            </p>
                        </td>

                        <td>
                            <div class="time-received-container flex-row flex-space-between">
                                <div class="">
                                    <p>
                                        Time Received (hh:mm):
                                        @if (Model.TechnicalServiceRequest.DateReceived.HasValue)
                                        {
                                            @Model.TechnicalServiceRequest.DateReceived.Value.ToString("hh:mm")
                                        }
                                        else
                                        {
                                            @:Unknown Time
                                        }
                                    </p>
                                </div>

                                <form class="flex-row">
                                    <div class="flex-row flex-child-center-h tsr-form-technical-checkbox-form">
                                        <input type="checkbox"
                                               @(Model.TechnicalServiceRequest.DateReceived.HasValue && Model.TechnicalServiceRequest.DateReceived.Value.Hour < 12 ? "checked" : "")
                                               disabled />
                                        <label>AM</label>
                                    </div>

                                    <div class="flex-row flex-child-center-h tsr-form-technical-checkbox-form">
                                        <input type="checkbox"
                                               @(Model.TechnicalServiceRequest.DateReceived.HasValue && Model.TechnicalServiceRequest.DateReceived.Value.Hour >= 12 ? "checked" : "")
                                               disabled />
                                        <label>PM</label>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="" colspan="2">
                            <div class="flex-col">
                                <p>
                                    <strong>ACTION TAKEN:</strong>
                                </p>

                                <div class="trs-form-ict-section-action-taken">
                                    @if (!string.IsNullOrEmpty(Model.TechnicalServiceRequestHistory.ActionTaken))
                                    {
                                        @Model.TechnicalServiceRequestHistory.ActionTaken
                                    }
                                    else
                                    {
                                        @:No action taken.
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="tsr-form-ict-section-personel">
                            <p>Technical Personel/s:</p>
                            <p>
                                @if (Model.TechnicalServiceRequestHistory.ActionTakenByRegistrationId.HasValue)
                                {
                                    @GeneralUtilities.CreateFullName(
                                        Model.TechnicalServiceRequestHistory.ActionTakenByRegistration.FirstName,
                                        Model.TechnicalServiceRequestHistory.ActionTakenByRegistration.LastName,
                                        Model.TechnicalServiceRequestHistory.ActionTakenByRegistration.MiddleName
                                    )
                                }
                                else
                                {
                                    @:Unknown Personnel
                                }
                            </p>
                        </td>

                        <td class="tsr-form-ict-section-personel">
                            Signature:
                        </td>
                    </tr>

                </tbody>

            </table>

            <div>
                <p class="text-right">DOHNCRO-KMITS-SR Form 01 Rev. 02</p>
            </div>
        </section>

    </section>

    @* Print Button *@
    <section class="print-button-container center-child">
        <div class="flex-1 flex-row">
            <button class="btn btn-danger flex-1" type="button" onclick="history.back()">
                <i class="glyphicon glyphicon-arrow-left"></i>
                Return
            </button>

            <button class="btn btn-primary flex-1" type="button" onclick="window.print()">
                <i class="glyphicon glyphicon-print"></i>
                Print
            </button>
        </div>
    </section>

</section>