@model TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Models.TechnicalServiceRequestIndexViewModel
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Utilities;
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Enumerables;
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Core;

@{
    ViewBag.Title = "List";

    var currentUser = ViewBag.CurrentUser as UserSession;
}


@section Styles
{
    <link rel="stylesheet" href="~/Content/App/TechnicalServiceRequest/Index.css" type="text/css" />
}

<section class="container tsr-index-page">
    <div class="table-panel panel panel-default">

        <section class="panel-heading">
            <strong>
                Technical Service Requests
            </strong>
        </section>

        <section class="panel-body">
            <section class="filter-selection-container">

                @* Type Filter *@
                <div class="filter-selection">
                    <label for="type_filter">Type:</label>
                    <select id="type_filter" class="form-control">
                        <option value="0" selected>All</option>
                        @if (AccountTypeEnum.IsIT(currentUser.PrivilegeIds) || AccountTypeEnum.IsAdmin(currentUser.PrivilegeIds))
                        {

                            <option value="assigned">
                                Assigned
                            </option>
                            <option value="non-assisted">
                                Non Assisted
                            </option>
                            <option value="queued">
                                Queued
                            </option>
                        }

                        @* Type *@
                        <optgroup label="Type">
                            <option value="@TechnicalServiceTypeEnum.ACCOUNT_CREATION">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.ACCOUNT_CREATION
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.AUDIO_VISUAL_SETUP">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.AUDIO_VISUAL_SETUP
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.DATA_CORRECTION">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.DATA_CORRECTION
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.EQUIPMENT_REPAIR_TROUBLESHOOTING">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.EQUIPMENT_REPAIR_TROUBLESHOOTING
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.GOVERNMENT_EMAIL_ACCOUNT">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.GOVERNMENT_EMAIL_ACCOUNT
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.INTERNET_CONNECTIVITY">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.INTERNET_CONNECTIVITY
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.LIVESTREAM_SETUP">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.LIVESTREAM_SETUP
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.PASSWORD_ACCESS_ISSUE">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.PASSWORD_ACCESS_ISSUE
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.PRODUCTION_MATERIAL_PRINTING">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.PRODUCTION_MATERIAL_PRINTING
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.SYSTEM_SUPPORT">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.SYSTEM_SUPPORT
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.TECHNICAL_GUIDANCE">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.TECHNICAL_GUIDANCE
                               )
                            </option>

                            <option value="@TechnicalServiceTypeEnum.ZOOM_WEBEX_LINK">
                                @TechnicalServiceTypeEnum.DisplayName(
                                    TechnicalServiceTypeEnum.ZOOM_WEBEX_LINK
                               )
                            </option>

                            <option value="100">
                                Others
                            </option>
                        </optgroup>
                    </select>
                </div>

                @* Status Filter *@
                <div class="filter-selection">
                    <label for="status_filter">Status:</label>
                    <select id="status_filter" class="form-control">
                        <optgroup label="Status">
                            <option value="0" selected>All</option>
                            <option value="@TechnicalServiceRequestStatusEnum.PENDING">
                                @TechnicalServiceRequestStatusEnum.DisplayName(
                                    TechnicalServiceRequestStatusEnum.PENDING
                                )
                            </option>
                            <option value="@TechnicalServiceRequestStatusEnum.ONGOING">
                                @TechnicalServiceRequestStatusEnum.DisplayName(
                                    TechnicalServiceRequestStatusEnum.ONGOING
                                )
                            </option>
                            <option value="@TechnicalServiceRequestStatusEnum.RESOLVED">
                                @TechnicalServiceRequestStatusEnum.DisplayName(
                                    TechnicalServiceRequestStatusEnum.RESOLVED
                                )
                            </option>
                            <option value="@TechnicalServiceRequestStatusEnum.CANCELLED">
                                @TechnicalServiceRequestStatusEnum.DisplayName(
                                    TechnicalServiceRequestStatusEnum.CANCELLED
                                )
                            </option>
                            <option value="@TechnicalServiceRequestStatusEnum.OPEN">
                                @TechnicalServiceRequestStatusEnum.DisplayName(
                                    TechnicalServiceRequestStatusEnum.OPEN
                                )
                            </option>
                            <option value="@TechnicalServiceRequestStatusEnum.CLOSED">
                                @TechnicalServiceRequestStatusEnum.DisplayName(
                                    TechnicalServiceRequestStatusEnum.CLOSED
                                )
                            </option>

                        </optgroup>
                    </select>
                </div>

                @* Date Request Filter *@
                <div class="filter-selection">
                    <label for="date_request_filter">Date Request:</label>
                    <select id="date_request_filter" class="form-control">
                        <option value="0" selected>All</option>
                        <optgroup label="Request Date">
                            <option value="1">
                                Today
                            </option>
                            <option value="2">
                                This Week
                            </option>
                            <option value="3">
                                This Month
                            </option>
                            <option value="4">
                                This Year
                            </option>
                        </optgroup>
                    </select>
                </div>

            </section>

            <div class="table-responsive">
                <table id="technical_request_table" class="table table-striped">

                    <thead>
                        <tr>
                            <th></th>
                            <th class="reference-code">Reference Code</th>
                            <th class="client-info">Client Information</th>
                            <th>Service Type</th>
                            <th>Status</th>
                            <th>Date Requested</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>

    </div>
</section>

@section Scripts
{
    <script>
        const userId = "@currentUser.Id";
        const requestUrl = "@Url.Action("GetTechnicalRequest", "TechnicalServiceRequests")";
    </script>

    <script src="~/Scripts/App/TechnicalServiceRequest/InitializeListingDataTable.js" defer></script>
}