@model TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Models.ITAvailabilityManageViewModel
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Core
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Enumerables

@{
    ViewBag.Title = "Manage";

    var currentUser = ViewBag.CurrentUser as UserSession;
    var isAdmin = AccountTypeEnum.IsAdmin(currentUser.PrivilegeIds);
}

@section Styles {
    <link rel="stylesheet" href="~/Content/App/ITAvailability/Manage.css" type="text/css" />
}

<section class="container availaibility-container flex-row flex-wrap">

    @* Calendar Selection *@
    @if (!isAdmin)
    {
        <section class="content-panel panel panel-default flex-col">
            <section class="panel-heading">
                <h4>
                    <i class="glyphicon glyphicon-calendar"></i>
                    SCHEDULE AVAILABILITY MANAGEMENT
                </h4>
                <p>
                    You can use the calendar below to select the dates you are unavailable for work.
                </p>

            </section>

            <section class="content-panel-body panel-body flex-row flex-wrap flex-1">
                <section>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.SelectedStringDates, new { id = "preloaded_blocked_dates" })

                    @* Calendar *@
                    <div class="input-group date" id="datetime_picker"></div>

                    <div>
                        <ul class="rules-list text-primary">
                            <i class="glyphicon glyphicon-info-sign"></i>Rules:

                            <li>
                                <em class="light-text">Past dates cannot be unselected.</em>
                            </li>
                            <li>
                                <em class="light-text">Only upcoming dates can be selected.</em>
                            </li>
                            <li>
                                <em class="light-text">You can select dates up to 30 days ahead.</em>
                            </li>
                        </ul>
                    </div>
                </section>

                <hr class="bg-default" />

                <section class="selected-date-badge-container flex-col">
                    <div class="flex-row flex-wrap">
                        @* Badges Here *@
                    </div>
                </section>

            </section>

            <section class="panel-footer buttons-container flex-col flex-child-end-v">
                <div class="buttons flex-row-reverse flex-wrap">
                    <button id="modify_availability_button" type="button" class="btn btn-primary ">
                        <i class="glyphicon glyphicon glyphicon-floppy-disk"></i>
                        Save Changes
                    </button>

                    <a href="/" class="btn btn-danger ">
                        <i class="glyphicon glyphicon glyphicon-remove"></i>
                        Cancel
                    </a>
                </div>
            </section>
        </section>
    }


    @* Availability History *@
    <section class="container availability-history-container bg-light panel">
        <section class="">
            <div>
                <h4 class="text-primary">
                    <i class="glyphicon glyphicon-time"></i>
                    History
                </h4>

                @if (isAdmin)
                {
                    <p class="text-default">You may view this IT's availability history below.</p>
                }
                else
                {
                    <p class="text-default">You may view your availability history below.</p>
                }
            </div>

            <div class="history-selects-container flex-row flex-wrap">

                <div class="form-group">
                    <label for="history_year_select">Year:</label>
                    <select id="history_year_select" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label for="history_month_select">Month:</label>
                    <select id="history_month_select" class="form-control"></select>
                </div>

            </div>

            <div id="history_calendar_container"></div>
        </section>
    </section>

</section>

@section Scripts {
    <script>
        const selectedITId = "@Model.UserId";
        const registrationYear = "@Model.UserRegistrationDate.Year";
        const submitUrl = "@Url.Action("Manage", "ITAvailability", new { id = Model.UserId })";
        const getBlockedDatesUrl = "@Url.Action("GetBlockedDates", "ITAvailability", new { id = Model.UserId })";
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script type="module" src="~/Scripts/App/ITAvailability/InitializeDatetimePicker.js" defer></script>
    <script type="module" src="~/Scripts/App/ITAvailability/SaveChanges.js" defer></script>
    <script type="module" src="~/Scripts/App/ITAvailability/InitializeHistory.js" defer></script>
}

