@model TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Models.NotificationIndexViewModels
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Utilities
@using PagedList.Mvc

@section Styles {
    <link rel="stylesheet" href="~/Content/App/Notification/Index.css" type="text/css" />
}

@{ ViewBag.Title = "Notifications"; }

<section class="container center-child notification-index-page">

    <div class="panel panel-default notification-page-panel">
        @* Heading *@
        <section class="content-panel-heading panel-heading">
            <div>
                <h4 class="panel-title flex-row flex-child-center-h bold-text">
                    <i class="glyphicon glyphicon glyphicon-bell"></i>
                    NOTIFICATIONS
                </h4>
                <p class="light-text">
                    Notifications older than 30 days are removed automatically.
                </p>
            </div>
        </section>

        @* Body *@
        <section id="notification_list" class="panel-body flex-col notification-list-body">
            @Html.Partial("~/Views/Notification/Partial/_NotificationList.cshtml", Model.Notifications)
        </section>

        @* Pagination *@
        <section class="content-panel-footer panel-footer flex-row-reverse notification-pagination-wrap">
            @Html.PagedListPager(Model.Notifications, page => Url.Action("Index", new { page }),
                new PagedListRenderOptions
                {
                    LiElementClasses = new[] { "" },
                    UlElementClasses = new[] { "pagination" },
                    LinkToPreviousPageFormat = "Previous",
                    LinkToNextPageFormat = "Next",
                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                    DisplayLinkToLastPage = PagedListDisplayMode.Never,
                })
        </section>
    </div>

</section>

@section Scripts {
    <script>
        const pageSize = parseInt("@Model.Notifications.PageSize");
        const currentPage = parseInt("@Model.Notifications.PageNumber");
        const getNotificationUrl = "@Url.Action("ListPartial", "Notification")";
        const markAsReadUrl = "@Url.Action("MarkAsRead", "Notification")";
    </script>

    <script src="~/Scripts/App/Notification/LiveReloadNotification.js" defer></script>
    <script src="~/Scripts/App/Notification/ViewNotificationDetailModal.js" defer></script>
}
