@model TECHNICAL_SERVICE_REQUEST.Models.AppUserRegistrationCreateViewModel

@{ ViewBag.Title = "Create"; }

@section Styles
{
    <link rel="stylesheet" href="~/Content/App/AppUserRegistration/Create.css" type="text/css" />
}

<section class="registration-create-page container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 center-child">
            <div class="panel panel-default registration-create-panel">
                <div class="center-text">
                    <img src="~/Content/Images/logo_black.png" class="registration-create-logo" alt="TechIT - Technical Service Request System" title="DOH MMCHD - Technical Service Request System" />

                    <h3 class="registration-create-title">
                        Request Account
                    </h3>

                    <hr class="bg-primary" />

                    <p class="registration-create-description text-center">
                        Before proceeding to <strong>TechIT - TECHNICAL SERVICE REQUEST SYSTEM</strong>, you may request an account for your transactions by filling up the form below. You may use the account for future transaction to this system.
                    </p>
                </div>

                @using (Html.BeginForm(
                    "Create",
                    "Registration",
                    FormMethod.Post,
                    new { @class = "form-horizontal registration-create-form" }
                ))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="container-fluid registration-create-form-body">
                            <div>
                                @* First Name *@
                                <div class="form-group flex-row flex-wrap registration-create-row">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-4" })
                                    <div class="flex-1 registration-create-input-wrap">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm alpha req text-uppercase registration-create-input" })
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </div>
                                </div>

                                @* Middle Name *@
                                <div class="form-group flex-row flex-wrap registration-create-row">
                                    @Html.LabelFor(model => model.MiddleName, new { @class = "control-label col-md-4" })
                                    <div class="flex-1 registration-create-input-wrap">
                                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control input-sm alpha req text-uppercase registration-create-input", placeholder = "Optional" })
                                        @Html.ValidationMessageFor(model => model.MiddleName)
                                    </div>
                                </div>

                                @* Last Name *@
                                <div class="form-group flex-row flex-wrap registration-create-row">
                                    @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-4" })
                                    <div class="flex-1 registration-create-input-wrap">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm text-uppercase registration-create-input" })
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </div>
                                </div>

                                @* Extension Name *@
                                <div class="form-group flex-row flex-wrap registration-create-row">
                                    @Html.LabelFor(model => model.ExtensionName, new { @class = "control-label col-md-4" })
                                    <div class="flex-1 registration-create-input-wrap">
                                        @Html.TextBoxFor(model => model.ExtensionName, new { @class = "form-control input-sm text-uppercase registration-create-input", placeholder = "Optional" })
                                        @Html.ValidationMessageFor(model => model.ExtensionName)
                                    </div>
                                </div>
                            </div>

                            <div>
                                @* Contact Number *@
                                <div class="form-group flex-row flex-wrap registration-create-row">
                                    @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label col-md-4" }) 
                                    <div class="flex-1 registration-create-input-wrap">
                                        @Html.TextBoxFor(model => model.ContactNumber, new { @class = "input-sm form-control req registration-create-input", @required = true })
                                        @Html.ValidationMessageFor(model => model.ContactNumber)
                                    </div>
                                </div>

                                @* Email *@
                                <div class="form-group flex-row flex-wrap registration-create-row">
                                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-4" })
                                    <div class="flex-1 registration-create-input-wrap">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm req registration-create-input", @required = true })
                                        <span class="text-danger">
                                            @ViewBag.email
                                        </span>
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                            </div>

                            <div>
                                @* Office *@
                                <div class="form-group flex-row flex-wrap registration-create-row">
                                    @Html.LabelFor(model => model.Office, new { @class = "control-label col-md-4" })
                                    <div class="flex-1 registration-create-input-wrap">
                                        @Html.TextBoxFor(model => model.Office, new { @class = "input-sm form-control req text-uppercase registration-create-input", @required = true })
                                        @Html.ValidationMessageFor(model => model.Office)
                                    </div>
                                </div>

                                @* Position *@
                                <div class="form-group flex-row flex-wrap registration-create-row">
                                    @Html.LabelFor(model => model.Position, new { @class = "control-label col-md-4" })
                                    <div class="flex-1 registration-create-input-wrap">
                                        @Html.TextBoxFor(model => model.Position, new { @class = "input-sm form-control req text-uppercase registration-create-input", @required = true })
                                        @Html.ValidationMessageFor(model => model.Position)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group registration-create-actions center-text">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success registration-create-submit">
                                    <i class="glyphicon glyphicon-save"></i>
                                    Submit Request
                                </button>
                            </div>

                            <div class="col-md-12">
                                <a href="@Url.Action("Login", "Account")">Login</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/Scripts/App/AppUserRegistration/DenyNonLetterKey.js" defer></script>
}    